<div class="edit-user">
  <% @users.each do | user | %>
    <form action='/users/edit' method='POST'>
      <label for='name'>
        <h2>
          Change Name for <%= user["username"] %>?
        </h2>
      </label>
      <input name='name' type='text' id="name"/>
      <input type="hidden" name="_method" value="put">
      <input type="hidden" name="user_id" value="<%=user["id"]%>" />
      <input type='submit' value="Update"/>
    </form>
  <% end %>
</div>
