<div class="create-user">
  <form action='/users/new' method='POST'>
    <label for='name'>
      <h2>
        Create User
      </h2>
      <h3>
        Name:
        <input name='name' type='text'/>
        <input type='submit' value='Sign up'/>
      </h3>
    </label>
  </form>
</div>
