<div class="title" id="page-title">
  <h1>
    Create User
  </h1>
</div>
<div class="seperator">
  <br>
    <hr/>
  <br>
</div>
<div class="create-user">
  <form action='/users/new' method='POST'>
    <label for='name'>
      <h2>
        <p id="change-name">
          Name:
          <br />
        </p>
        <p>
          <p>
            <input name='name' type='text' required id="name"/>
            <br />
          </p>
          <input type='submit' value='Create'/>
          <br />
        </p>
      </h2>
    </label>
  </form>
</div>
