<p>
  <a href="/users">Home</a>
</p>

<form action='/users/new' method='POST'>
  <label for='name'>
    name: <input name='name' type='text'/>
  </label>
  <input type='submit' value='Sign up'/>
</form>
