<!DOCTYPE html>
<head>
  <title>Sinatra API</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/styles/styles.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top" id="nav-color">
    <div class="container">

      <div class="navbar-brand" id="nav-title">Simple Sinatra API</div>

      <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        <div class="collapse navbar-collapse navHeaderCollapse">

          <ul class="nav navbar-nav navbar-right">


            <li><a href="http://localhost:9494/users/new">Create User</a></li>
            <li><a href="http://localhost:9494/users/delete">Delete User</a></li>
            <li><a href="http://localhost:9494/users/edit">Edit User</a></li>
            <li class="active"><a href="http://localhost:9494/users">Home</a></li>
          </ul>

        </div>
      </div>

    </div>
  </div>

  <div class="main-body">
    <%= yield %>
  </div>

  <script src="/jquery-1.12.4.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
