<!DOCTYPE html>
<head>

</head>
<body>
  <div class="nav-bar">
    <a href="http://localhost:9494/users/new">Create a new user!</a>
    <a href="http://localhost:9494/users/delete">Delete a user!</a>
    <a href="http://localhost:9494/users/edit">Edit a user!</a>
    <a href="http://localhost:9494/users">Home</a>
  </div>
  <div class="body">
    <%= yield %>
  </div>
</body>
