<!DOCTYPE html>
<head>
  <title>Sinatra API</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="nav-bar">
    <a href="http://localhost:9494/users/new">Create a new user!</a>
    <a href="http://localhost:9494/users/delete">Delete a user!</a>
    <a href="http://localhost:9494/users/edit">Edit a user!</a>
    <a href="http://localhost:9494/users">Home</a>
  </div>
  <div class="body">
    <%= yield %>
  </div>

  <script src="/jquery-1.12.4.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
