<div class="users">
  <h2>Users</h2>
  <div class="new-user">
    <a href="http://localhost:9494/users/new">Create a new user!</a>
    <a href="http://localhost:9494/users/delete">Delete a user!</a>
  </div>
  <% @users.each do | user | %>
  <ul>
    <%= user["id"] %>: <%= user["username"] %>
  </ul>
  <% end %>
</div>
<p>
</p>
