<div class="title" id="page-title">
  <h1>
    Users
  </h1>
</div>
<div class="seperator">
  <br>
    <hr/>
  <br>
</div>
<div class="users-index">
  <% @users.each do | user | %>
  <ul>
    <h2>
      <span class="username" id="username">
        <%= user["username"] %>
      </span>
      <span class="user_id" id="user_id">
        #<%= user["id"] %>
      </span>
    </h2>
  </ul>
  <% end %>
</div>
