<div class="users">
  <% @users[0].each do | user | %>
    <span class="key"><%= user[0] %></span>:
    <span class="value"><%= user[1] %></span>
  <% end %>
</div>
<p>
  <div class="new-user">
    <a href="http://localhost:9494/users/new">Create a new user!</a>
  </div>
</p>
