<div class="users-index">
  <h2>
    Users
  </h2>
  <% @users.each do | user | %>
  <ul>
    <h3>
      <span class="user_id">
        ID:
        <%= user["id"] %>
      </span>
      <span class="username">
        User:
        <%= user["username"] %>
      </span>
    </h3>
  </ul>
  <% end %>
</div>
